backend: vgg16_bn
dataset_name: cifar10
checkpoint_dir: checkpoints/vgg16_bn_training
seed: !!int 2

do_train: true
do_eval: true

# Training option
train:
    batch_size: 64
    max_epoch: 300



optimizer:
    name: hspg
    init_stage: sgd
    init_lr: 0.1
    n_p: 75
    lambda: !!float 5e-4
    decay_mode: multi_step
    decays: [75, 150, 250]
    momentum: 0.0
    epsilon: [0.0, 0.0, 0.0, 0.9, 0.0]
    upper_group_sparsity: [1.0, 1.0, 1.0, 1.0, 1.0]
